/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/


body {
  /* Location of the image  */
  background-image: url(https://cloud.githubusercontent.com/assets/15127467/12227693/41e7f71c-b7f6-11e5-8c26-4fd89c33eb8c.png);
 
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat
  original was no-repeat*/
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
  the content height is greater than the image height.
  original was 'fixed'*/
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size.
  original setting: 'cover' */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#000;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

.mobileshow {
    display: none;
  }


/* For mobile devices */
@media only screen and (max-width: 767px) {
  
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections 
    background-image: url(https://cloud.githubusercontent.com/assets/14241487/10685053/9beb2862-791a-11e5-9354-856e0bfbe3d4.jpg);*/
    
    /*background-size: 100% auto;
    background-size: cover;

    background-repeat: no-repeat;
    
    background-attachment: scroll;*/
    
    
    /*           */
    background-size: 50px;

    background-repeat: no-repeat;
    
    background-attachment: fixed;
   
  }
  .mobilehide {
    display: none;
  }
  
  .mobileshow {
    display: inline;
  }
  
}
