/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/


body {
  /* Location of the image */
  background-image: url(https://cloud.githubusercontent.com/assets/14241487/10685052/9beae078-791a-11e5-9dc3-0afb20b7f5a7.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat
  original was no-repeat*/
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
  the content height is greater than the image height.
  original was 'fixed'*/
  background-attachment: scroll;
  
  /* This is what makes the background image rescale based on its container's size.
  original setting: 'cover' */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#000f11;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

.mobileshow {
    display: none;
  }


/* For mobile devices */
@media only screen and (max-width: 767px) {
  
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(https://cloud.githubusercontent.com/assets/14241487/10685053/9beb2862-791a-11e5-9354-856e0bfbe3d4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: 100vh;
   
  }
  .mobilehide {
    display: none;
  }
  
  .mobileshow {
    display: inline;
  }
  
}

/*Snow Animation By Nicky Christensen - http://codepen.io/NickyCDK */
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: snow 21s linear infinite;
	-moz-animation: snow 21s linear infinite;
	-ms-animation: snow 21s linear infinite;
	animation: snow 21s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
